# Memory dumps
*.hprof

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# iOS build
ios/Flutter/.last_build_id
ios/Pods/

# IDE
.idea/
*.iml
.vscode/

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
#key.properties
#**/*.keystore
#**/*.jks
